# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Visual Studio Enterprise Subscription(014d52c4-d2a9-494d-9e3f-e78a5c0ab216)'
    subscriptionId: '014d52c4-d2a9-494d-9e3f-e78a5c0ab216'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'ARMPipeline-rg'
    location: 'Central US'
    templateLocation: 'URL of the file'
    csmFileLink: 'https://raw.githubusercontent.com/HashimsGitHub/ARMPipeline-repo/main/create_web_app/azuredeploy.json'
    overrideParameters: '-projectName ARMPipeline'
    deploymentMode: 'Incremental'
    deploymentName: 'DeployPipelineTemplate'